{% extends "common/layout/base-layout.njk" %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitleName = 'View all services' %}

{% block pageContent %}
  <h1 class="govuk-heading-l">Your services</h1>

  <ul class="govuk-list">
    { % for serviceName in serviceNames % }
    <li>
      <a
        class="govuk-body-l govuk-!-font-weight-bold govuk-link--no-visited-state"
        href="#"
        >{{serviceName}}</a
      >
    </li>
    <hr
      class="govuk-section-break govuk-section-break--visible govuk-section-break--l"
    />
    {% endfor %}
  </ul>

  {{
    govukButton({
      text: "Create a new service",
      href: "/services/create",
      classes: "govuk-button--secondary"
    })
  }}
{% endblock %}
