{% extends "common/layout/base-layout.njk" %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% set pageTitleName = "Select client authentication method" %}
{% set viewServiceUrl %}/services/{{ serviceId }}{% endset %}
{% set serviceName %}{{ serviceName }}{% endset %}

{% block beforeContent %}
  {{
    govukBreadcrumbs({
    items: [
      { text: "Your services", href: "/services" },
      { text: serviceName, href: viewServiceUrl },
      { text: "Create a client" } ] })
  }}
{% endblock %}

{% block pageContent %}
  <form class="form" action="select-client-authentication" method="post">
    <h1 class="govuk-heading-l">Client authentication method</h1>

    {{
      govukWarningText({
        text: "If client secret is selected, you will be unable to request identity verification",
        iconFallbackText: "Warning"
      })
    }}


    {% set jwksEndpointHtml %}
      {{
        govukInput({
          id: "jwks-endpoint",
          name: "jwks-endpoint",
          autocomplete: "url",
          spellcheck: false,
          label: {
            text: "JWKS endpoint URL"
          },
          errorMessage: {
          text: errors["jwks-endpoint"].text
        } if (errors["jwks-endpoint"])
        })
      }}
    {% endset -%}


    {% set publicKeyHtml %}
      {{
        govukTextarea({
          id: "public-key",
          name: "public-key",
          type: "key",
          autocomplete: "key",
          spellcheck: false,
          label: {
            text: "Public key"
          },
          errorMessage: {
          text: errors["public-key"].text
        } if (errors["public-key"])
        })
      }}
    {% endset -%}


    {% set clientSecretHtml %}
      {{
        govukInput({
          id: "client-secret",
          name: "client-secret",
          type: "secret",
          autocomplete: "secret",
          spellcheck: false,
          label: {
            text: "Client secret"
          },
          errorMessage: {
          text: errors["client-secret"].text
        } if (errors["client-secret"])
        })
      }}
    {% endset -%}

    {{
      govukRadios({
        name: "client-authentication-method",
        fieldset: {
          legend: {
            text: "How do you want to authenticate?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          {
            value: "JWKS",
            text: "Public key URL (JWKS)",
            hint: {
              text: "Recommended. Use private_key_jwt authentication with a JSON Web Key Set endpoint."
            },
            conditional: {
              html: jwksEndpointHtml
            },
            checked: clientAuthenticationMethod === "JWKS"
          },
          {
            value: "STATIC",
            text: "Fixed public key",
            hint: {
              text: "Use private_key_jwt authentication with a single uploaded public key."
            },
            conditional: {
              html: publicKeyHtml
            },
            checked: clientAuthenticationMethod === "STATIC"
          },
          {
            value: "CLIENT_SECRET",
            text: "Client secret",
            hint: {
              text: "Use client_secret_post authentication."
            },
            conditional: {
              html: clientSecretHtml
            },
            checked: clientAuthenticationMethod === "CLIENT_SECRET"
          }
        ],
        errorMessage: {
          text: errors["client-authentication-method"].text
        } if (errors["client-authentication-method"])
      })
    }}

    {{
      govukButton({
        text: "Continue"
      })
    }}
  </form>
{% endblock %}
