@import "base";
@import "core/index";
@import "utilities/index";
@import "objects/index";
@import "overrides/index";

// start Design System component imports
@import "components/back-link";
@import "components/breadcrumbs";
@import "components/button";
@import "components/checkboxes";
@import "components/cookie-banner";
@import "components/details";
@import "components/error-summary";
@import "components/footer";
@import "components/header";
@import "components/input";
@import "components/inset-text";
@import "components/service-navigation";
@import "components/radios";
@import "components/skip-link";
@import "components/summary-list";
@import "components/table";
@import "components/tag";
@import "components/textarea";
@import "components/warning-text";
// end Design System component imports

.govuk-service-navigation__item:last-child {
  margin-left: auto;
}

.button-as-link {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  display: inline;
}

.red-code {
  color: #d13118;
  background: #f3f2f1;
  padding: 2px 6px;
}
