{% extends "common/layout/base.njk" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% include "common/errors/error-summary.njk" %}
      {% block pageContent %}
      {% endblock %}
    </div>
  </div>
{% endblock %}

{% block bodyEnd %}
  <script
    type="module"
    src="/public/scripts/govuk-frontend.min.js"
    {%
    if
    scriptNonce
    %}
    nonce="{{ scriptNonce }}"
    {%
    endif
    %}
  ></script>
  <script
    type="module"
    {%
    if
    scriptNonce
    %}
    nonce="{{ scriptNonce }}"
    {%
    endif
    %}
  >
    import { initAll } from "/public/scripts/govuk-frontend.min.js";
    initAll();
  </script>
{% endblock %}
