{% extends "common/layout/base-layout.njk" %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% set pageTitleName = "Select scopes" %}
{% set viewServiceUrl %}/services/{{ serviceId }}{% endset %}
{% set serviceName %}{{ serviceName }}{% endset %}

{% block beforeContent %}
  {{
    govukBreadcrumbs({
    items: [
      { text: "Your services", href: "/services" },
      { text: serviceName, href: viewServiceUrl },
      { text: "Create a client" } ] })
  }}
{% endblock %}

{% block pageContent %}
  <form class="form" action="select-scopes" method="post">
    <h1 class="govuk-heading-l">Select your scopes</h1>
    {% call govukInsetText() %}
      <code class="red-code">openid</code> will be automatically added to your
      scopes configuration as it is required to sign in users
    {% endcall %}
    {{
      govukCheckboxes({
        name: "selected-scopes",
        hint: {
          text: "Select all that apply."
        },
        items: [
          {
            value: "email",
            html: "<code class='red-code'>email</code>",
            hint: { html: "Returns the <code class='red-code'>email</code> claim and <code class='red-code'>email_verified</code>" }
          },
          {
            value: "phone",
            html: "<code class='red-code'>phone</code>",
            hint: { html: "Returns the <code class='red-code'>phone_number</code> claim and <code class='red-code'>phone_number_verified</code>" }
          },
          {
            value: "wallet-subject-id",
            html: "<code class='red-code'>wallet-subject-id</code>",
            hint: { html: "Returns the <code class='red-code'>wallet-subject-id</code> claim and is required if you plan to onboard with GOV.UK Wallet" }
          }
        ]
      })
    }}

    {{
      govukButton({
        text: "Continue"
      })
    }}
  </form>
{% endblock %}
