{% extends "common/layout/base-layout.njk" %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

{% set pageTitleName = "Select claims" %}
{% set viewServiceUrl %}/services/{{ serviceId }}{% endset %}
{% set serviceName %}{{ serviceName }}{% endset %}

{% block beforeContent %}
  {{
    govukBreadcrumbs({
    items: [
      { text: "Your services", href: "/services" },
      { text: serviceName, href: viewServiceUrl },
      { text: "Create a client" } ] })
  }}
{% endblock %}

{% block pageContent %}
  <form class="form" action="select-claims" method="post">
    {{
      govukCheckboxes({
        name: "selected-claims",
        fieldset: {
          legend: {
            text: "Select your claims",
            classes: "govuk-fieldset__legend--l",
            isPageHeading: true
          }
        },
        hint: {
          text: "Select all that apply"
        },
        items: [
          {
            value: "https://vocab.account.gov.uk/v1/coreIdentityJWT",
            html: "<code class='red-code'>https://vocab.account.gov.uk/v1/coreIdentityJWT</code>",
            hint: { text: "Returns the user’s core identity information" }
          },
          {
            value: "https://vocab.account.gov.uk/v1/passport",
            html: "<code class='red-code'>https://vocab.account.gov.uk/v1/passport</code>",
            hint: { text: "Returns the user’s passport details if GOV.UK One Login proved their identity using their passport" }
          },
          {
            value: "https://vocab.account.gov.uk/v1/address",
            html: "<code class='red-code'>https://vocab.account.gov.uk/v1/address</code>",
            hint: { text: "Returns the user’s postal addresses" }
          },
          {
            value: "https://vocab.account.gov.uk/v1/drivingPermit",
            html: "<code class='red-code'>https://vocab.account.gov.uk/v1/drivingPermit</code>",
            hint: { text: "Returns the  user’s driving licence details if GOV.UK One Login proved their identity using their driving licence" }
          },
          {
            value: "https://vocab.account.gov.uk/v1/returnCode",
            html: "<code class='red-code'>https://vocab.account.gov.uk/v1/returnCode</code>",
            hint: { text: "Returns information about any issues with the evidence your user provided to prove their identity" }
          }
        ],
        errorMessage: {
          text: errors["selected-claims"].text
        } if (errors["selected-claims"])
      })
    }}

    {{
      govukButton({
        text: "Continue"
      })
    }}

    <p class="govuk-body">
      <a
        href="https://docs.sign-in.service.gov.uk/integrate-with-integration-environment/prove-users-identity/"
        class="govuk-link"
        rel="noreferrer noopener"
        target="_blank"
        >Get guidance on identity claims (opens in a new tab)</a
      >
    </p>
  </form>
{% endblock %}
